.page {
  width: 80%;
  aspect-ratio: 8.5 / 11;
  border: 2px solid black;
  background-color: white;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(136, 135, 135);
}

h2 {
  font-size: 2rem;
  margin-block-end: 0.5rem;
}

.kp-input-and-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-kp-btn-container,
.key-point-form,
.education-btns-container,
.key-points-display,
.personal-info-edit-btn-container,
.education-display,
.add-work-experience-btn-container,
.work-experience-display {
  width: 85%;
  margin: 0 auto;
}

.education-display {
  margin-bottom: 1.5rem;
}

.button-wrapper {
  margin-bottom: 1rem;
}

.education-btns-container,
.add-work-experience-btn-container {
  margin-bottom: 0.5rem;
}

.add-kp-btn-container {
  margin-bottom: 0.5rem;
}

p {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

li {
  margin-block-end: 0.5rem;
}

.edit-btn {
  margin-left: 0;
}

.app,
.headline-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.personal-info-form,
.headline-form,
.education-form,
.course-form,
.work-experience-form {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.text-input {
  width: 85%;
  display: block;
}

.title-bar {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  font-weight: bold;
  font-size: 1.5rem;
  width: 85%;
  margin: 0 auto;
  margin-block-end: 1rem;
}

.phone,
.email,
.linked-in {
  margin-right: 1rem;
}

.add-btn {
  margin-left: 0;
}

button {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}

.personal-info-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  resize: none;
  width: 85%;
}

.contact-info {
  display: flex;
  justify-content: center;
  width: 100%;
}

.personal-info-edit-btn-container {
  display: flex;
  justify-content: center;
}

.personal-info-form {
  margin-top: 1rem;
}

.key-points-display,
.course-displays,
.course-label {
  width: 85%;
  margin: 0 auto;
}

.course-label {
  margin-bottom: 0.5rem;
}
